.navbar {
    background-color: #6b96e6;
    padding: 10px;
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: expanded;
    color: white;
}